body {
    background-position: center;
    background-image: url("../image/foto.jpeg");
    background-repeat: repeat;
}

.container {
    max-width: 1140px;
    margin: 100px auto;
    background-color: rgb(227, 231, 237);
    box-sizing: border-box;
    padding:20px 40px;
}

.left-container {
    background-color: tomato;
}

.right-container {
    background-color: skyblue;
}

.border-radius {border-radius: 10px;}

.left-container {width: 48%; float: right;}
.right-container {width: 48%; float: left;}

div {box-sizing: border-box;}

.clearfix {clear: both;}

.text {color: white; text-align: justify; font-size: 12px;}

h1 {color: white; text-align: center;}
